<div class="container">
    <div class="top-header-text">
        <h1>{{ selectedClub.clubName }}</h1>
    </div>

    <div class="main-center-player">
        <div *ngFor="let player of selectedClub.allPlayers; let i = index" class="main-center-eachPlayerCard">
            <img src="{{ playerImageLink[i] }}" style="width: 100%; height: 300px; object-fit: contain" />
            <div class="cardContent">
                <h1>
                    {{ player.name.toLocaleUpperCase() }}
                    <i style="color: gold;" class="material-icons" *ngFor="let numOfStar of [].constructor(starRatingCount[i])">star</i>
                </h1>
            </div>

            <div class="hoverContainer" [ngStyle]="{ 'background-image': 'linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(' + playerHoverBackgroundImageLink[i] + ')' }">
                <div class="hoverText">
                    <div class="hoverTextName">
                        <h2>{{ player.name.toLocaleUpperCase() }}</h2>
                    </div>
                    <div class="hoverLowerSection">
                        <div class="colOne">
                            <div class="colLabel">
                                <p>SPE</p>
                                <p>ACC</p>
                                <p>STA</p>
                                <p>CON</p>
                                <p>STR</p>
                            </div>
                            <div class="colStat">
                                <p><span class="colStat">{{ player.playerStats.speed < 10? "0" + player.playerStats.speed : player.playerStats.speed }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.accuracy < 10? "0" + player.playerStats.accuracy : player.playerStats.accuracy }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.stamina < 10? "0" + player.playerStats.stamina : player.playerStats.stamina }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.control < 10? "0" + player.playerStats.control : player.playerStats.control }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.strength < 10? "0" + player.playerStats.strength : player.playerStats.strength }}</span></p>
                            </div>
                        </div>

                        <div class="colTwo">
                            <div class="colLabel">
                                <p>TAC</p>
                                <p>PAS</p>
                                <p>CRO</p>
                                <p>SHO</p>
                                <p>HEA</p>
                            </div>
                            <div class="colStat">
                                <p><span class="colStat">{{ player.playerStats.tackle < 10? "0" + player.playerStats.tackle : player.playerStats.tackle }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.passing < 10? "0" + player.playerStats.passing : player.playerStats.passing }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.crossing < 10? "0" + player.playerStats.crossing : player.playerStats.crossing }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.shooting < 10? "0" + player.playerStats.shooting : player.playerStats.shooting }}</span></p>
                                <p><span class="colStat">{{ player.playerStats.heading < 10? "0" + player.playerStats.heading : player.playerStats.heading }}</span></p>
                            </div>
                        </div>

                        <div class="colThree">
                            <div class="colThreeContainer">
                                <p class="playerNationality">{{ player.nationality }}<span class="material-icons">outlined_flag</span></p>
                                <p>🦶🏻{{ player.preferredFoot }}</p>
                                <p><i class="material-icons">accessibility</i><i class="material-icons">height</i>{{ player.height }}</p>
                                <p [ngStyle] = "{ 'background-color' : positionBackgroundColor[i] }" class="playerPosition">{{ player.position }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="hoverFooter">
                        <p style="font-size: 20px"><span class="colStat" style=" color: #ff2882">Holds and maintains an overall stat of {{player.playerStats.overall < 10? "0" + player.playerStats.overall : player.playerStats.overall }}%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>