<div class="container">
    <div class="pane">
        <ngx-spinner size="medium" *ngIf="!allClubs" bdColor="rgba(51,51,51,0)" type="line-scale-pulse-out" [zIndex]="0" [fullScreen]="false">
            <p style="color : white">Loading...</p>
        </ngx-spinner>
        <table *ngIf="allClubs" class="table">
            <tr>
                <th class="longSpan">Club</th>
                <th>MP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>
            <tr *ngFor="let club of allClubs">
                <td class="longSpan">{{ club.clubName }}</td>
                <td>{{ club.footballClubTotalStatistics.matchesPlayed }}</td>
                <td>{{ club.footballClubTotalStatistics.wins }}</td>
                <td>{{ club.footballClubTotalStatistics.draws }}</td>
                <td>{{ club.footballClubTotalStatistics.defeats }}</td>
                <td>{{ club.footballClubTotalStatistics.goalsFor }}</td>
                <td>{{ club.footballClubTotalStatistics.goalsAgainst }}</td>
                <td>{{ club.footballClubTotalStatistics.goalDifference }}</td>
                <td>{{ club.footballClubTotalStatistics.points }}</td>
            </tr>
            <!-- <tr *ngFor="let club of allClubs">
                <td class="longSpan">{{ club.clubName }}</td>
                <td>{{ club.footballClubTotalStatistics.matchesPlayed }}</td>
                <td>{{ club.footballClubTotalStatistics.wins }}</td>
                <td>{{ club.footballClubTotalStatistics.draws }}</td>
                <td>{{ club.footballClubTotalStatistics.defeats }}</td>
                <td>{{ club.footballClubTotalStatistics.goalsFor }}</td>
                <td>{{ club.footballClubTotalStatistics.goalsAgainst }}</td>
                <td>{{ club.footballClubTotalStatistics.goalDifference }}</td>
                <td>{{ club.footballClubTotalStatistics.points }}</td>
            </tr>
            <tr *ngFor="let club of allClubs">
                <td class="longSpan">{{ club.clubName }}</td>
                <td>{{ club.footballClubTotalStatistics.matchesPlayed }}</td>
                <td>{{ club.footballClubTotalStatistics.wins }}</td>
                <td>{{ club.footballClubTotalStatistics.draws }}</td>
                <td>{{ club.footballClubTotalStatistics.defeats }}</td>
                <td>{{ club.footballClubTotalStatistics.goalsFor }}</td>
                <td>{{ club.footballClubTotalStatistics.goalsAgainst }}</td>
                <td>{{ club.footballClubTotalStatistics.goalDifference }}</td>
                <td>{{ club.footballClubTotalStatistics.points }}</td>
            </tr> -->
        </table>
    </div>
    <div class="lower-footer">
        <button class="lower-footer-sortBtn reset-btn" (click) = "getFootballClubs()" >R E S E T</button>
        <button class="lower-footer-sortBtn" (click) = "getFootballClubsSortedOnWins()">W I N S O R T</button>
        <img class="lower-footer-img" src="assets/images/PL-Lion-transparent.png" />
        <button class="lower-footer-sortBtn" (click) = "getFootballClubsSortedOnGoals()" >G O A L S O R T</button>
        <button class="lower-footer-sortBtn play-btn" (click) = "updateFootballClubsAfterPlay()" >P L A Y !</button>
        <!-- <img class="lower-footer-img" src="assets/images/PL-player2.png" /> -->
    </div>
</div>