<!DOCTYPE html>
<div class="container">
    <div class="top-header">
        <img src="assets/images/PL-LionText-transparent.png" />
    </div>
    <div class="main-center">
        <a href="https://www.premierleague.com/nike-ball-hub" target="_blank">
            <div class="main-center-row">
                <div class="main-center-row-lower">
                    <div class="main-center-row-lower-left">
                        <img src="assets/images/PL-ball.png" />
                    </div>
                    <div class="main-center-row-lower-right">
                        <div class="main-center-row-upper">
                            <h1>NIKE FLIGHT</h1>
                        </div>
                        <h1>
                            Angular Chevrons nod to the speed and accuracy of Premier League gameplay. The use of attention-grabbing graphics like the ‘hazard tape’, in combination with the contrasting hi-viz colours, give the ball maximum visibility for the winter months.
                            Iridescent graphics call out technical details of the ball and the development of its Aerosculpt technology. The execution is inspired by precise in-flight instrumentation, perfectly inkeeping with the precision flight the ball allows players to achieve.
                        </h1>
                    </div>
                </div>
            </div>
        </a>
        <a href="https://www.premierleague.com/news/1608983" target="_blank">
            <div class="main-center-row">
                <div class="main-center-row-lower">
                    <div class="main-center-row-lower-left">
                        <img src="assets/images/PL-trophy.png" />
                    </div>
                    <div class="main-center-row-lower-right">
                        <div class="main-center-row-upper">
                            <h1>TROPHY</h1>
                        </div>
                        <h1>
                            The Trophies were cast by Asprey London, the Crown Jewellers, with the main bodies made from solid sterling silver. The crowns are cast from 24-carat silver gilt. The bases are made from malachite, a semi-precious stone found in Africa, with the green colour of the opaque stone representing the field of play.
                            The design of the Trophy is based on the theme of "The Three Lions of English Football". Two of the lions are above the handles on either side. When the captain of the title-winning team raises the Trophy, and its gold crown, above his head at the end of the season, he becomes the third lion.
                        </h1>
                    </div>
                </div>
            </div>
        </a>
        <a href="https://www.premierleague.com/news/1608983" target="_blank">
            <div class="main-center-row">
                <div class="main-center-row-lower">
                    <div class="main-center-row-lower-left">
                        <img src="assets/images/PL-boot.png" />
                    </div>
                    <div class="main-center-row-lower-right">
                        <div class="main-center-row-upper">
                            <h1>GOLDEN BOOT</h1>
                        </div>
                        <h1>
                            The award has been presented since the start of the Premier League, in 1992/93. Between 1994 and 2001 it was sponsored by Carling before Barclaycard took over until 2005.
                            Until 2016 the award was sponsored by the competition's title sponsor, Barclays, before in 2017 it was presented by Cadbury, the official snack partner of the Premier League.
                            In the event of joint top scorers, the accolade is shared, with awards for each player.
                        </h1>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="main-center-lowerSection">
        <div class="main-center-lowerSectionI">
            <img src="assets/images/PL-2019-20.jpg" />
            <div class="main-center-lowerSectionIO">
                <div class="main-center-lowerSectionIOT">
                    <h1>Liverpool</h1>
                    <h3>Winnners <br>2019/20</h3>
                </div>
            </div>
        </div>
        <div class="main-center-lowerSectionI">
            <img src="assets/images/PL-2018-19.jpg" />
            <div class="main-center-lowerSectionIO">
                <div class="main-center-lowerSectionIOT">
                    <h1>Manchester City</h1>
                    <h3>Winnners <br>2018/19</h3>                
                </div>
            </div>
        </div>
        <div class="main-center-lowerSectionI">
            <img src="assets/images/PL-2017-18.jpg" />
            <div class="main-center-lowerSectionIO">
                <div class="main-center-lowerSectionIOT">
                    <div class="main-center-lowerSectionIOT">
                        <h1>Manchester City</h1>
                        <h3>Winnners <br>2017/18</h3>                   
                    </div>
            </div>
        </div>
    </div>
</div>