.container {
    background-color: #222;
    border: 5px solid purple;
    height: 100%;
    padding: 8px;
    margin-top: 3%;
    width: 100%;
    background-image: url(/assets/images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.container {
    font-size: 21px;
    text-align: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; 
    -webkit-animation: fadein 1s; 
    -o-animation: fadein 1s; 
}
@keyframes fadein {
    from {
        opacity:0;
        transform: translate(0, -10%)
    }
    to {
        opacity:1;
        transform: translate(0, 0%)
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
        transform: translate(0, -10%)
    }
    to {
        opacity:1;
        transform: translate(0, 0%)
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
        transform: translate(0, -10%)
    }
    to {
        opacity:1;
        transform: translate(0, 0%)
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
        transform: translate(0, -10px)
    }
    to {
        opacity:1;
        transform: translate(0, 0px)
    }
}

a {
    text-decoration: none;
}

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header > img {
    height: 250px;
}

.main-center {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
}
.main-center > a, .main-center-row, .main-center-row-upper, .main-center-row-upper > h1, .main-center-row-lower,
.main-center-row-lower-left, .main-center-row-lower-left > img, .main-center-row-lower-right,
.main-center-row-lower-right > h1
{
    background: transparent;
}

.main-center-row {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s ease;
	background-size:auto;  
	animation-timing-function: ease;
    animation: image infinite 20s;
    margin-bottom: 16px;
}
@keyframes image {
    100% {
		background-position: 0%;
	}
    50% {
		background-position: 100%;	
	}
	0% {
		background-position: 0%;	
	}
}
.main-center-row:hover {
    transform: scale(1.02);
    border: 2px solid #ff2882;
    cursor: pointer;
}

.main-center-row-upper {
    width: 100%;
}
.main-center-row-upper > h1 {
    color: white;
    display: flex;
    justify-content: flex-start;
}

.main-center-lowerSectionTopic {
    text-align: left;
    color: white;
    margin-left: 35px;
    margin-bottom: 10px;
    font-family: 'Oxanium';
}

.main-center-row-lower {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-center-row-lower-right {
    padding: 10px 16px;
}
.main-center-row-lower-left > img {
    height: 100%;
    width: 300px;
    padding: 12px;
    object-fit: contain;
    transition: 0.2s ease;
}
.main-center-row-lower-left > img:hover {
    transform: scale(1.1);
}
.main-center-row-lower-right > h1 {
    font-size: 20px;
    color: #62ffaf;
    font-family: 'Roboto';
    text-align: justify;
}

.main-center-lowerSection {
    margin-left: 16px;
    margin-right: 16px;
}
.main-center-lowerSectionContainer {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 10px 0 0;
}
.main-center-lowerSectionContainer::-webkit-scrollbar {
    display: none;
}

.main-center-lowerSectionI {
    position: relative;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 10px;
    transition: 0.3s ease;
}

.main-center-lowerSectionI img {
    width: 400px;
    height: 225px;
    object-fit: contain;
}

.main-center-lowerSectionIO {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-size: contain;
    opacity: 0;
    transition: 0.3s ease;
}

.main-center-lowerSectionIOT {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-center-lowerSectionI:hover {
    transform: scale(1.1);
}
.main-center-lowerSectionIO:hover {
    border: 2px solid purple;
    opacity: 1;
    cursor: pointer;
}

.backToTopButton {
    display: flex;
    justify-content: left;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid black;
    background-color: black;
    transition: 0.2s ease;
}
.backToTopButton:hover {
    background-color: #ff2882;
    border-color: #ff2882;
    cursor: pointer;
}