<div class="container">
    <div class="top-header">
        <h1 class="top-header-text">M A T C H &nbsp; H I G H L I G H T S</h1>
        <div class="top-header-right">
            <input class="top-header-right-input" type="text" placeholder="yyyy-mm-dd" [(ngModel)] = "date" />
            <button class="top-header-right-search" (click) = "getFootballMatchesOnDate()">Search</button>
            <button class="top-header-right-reset" (click) = "getFootballMatches()">Reset</button>
        </div>
    </div>

    <div class="main-center">
        <div class="main-center-center">
            <ngx-spinner size="medium" *ngIf="!allMatches" bdColor="rgba(51,51,51,0)" type="line-scale-pulse-out" [zIndex]="0" [fullScreen]="false">
                <p style="color : white">Loading...</p>
            </ngx-spinner>
            <div *ngFor="let match of allMatches; let i = index"  routerLink="{{ i }}" class="main-center-center-row">
                <div class="main-center-center-row-left" >
                    <h3 class="main-center-center-row-clubName">{{ match.firstTeam.clubName.toLocaleUpperCase() }}</h3>
                    <h2 class="main-center-center-row-clubScore">{{ match.firstTeamSingleMatchStats.goals }}</h2>
                </div>
                <div class="main-center-center-row-center">
                    <h3 class="main-center-center-row-center-date">{{ match.matchDate }}</h3>
                    <h1 class="main-center-center-row-center-vs">VS</h1>
                </div>
                <div class="main-center-center-row-right">
                    <h3 class="main-center-center-row-clubName">{{ match.secondTeam.clubName.toLocaleUpperCase() }}</h3>
                    <h2 class="main-center-center-row-clubScore">{{ match.secondTeamSingleMatchStats.goals }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>