@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container {
    background-color: #222;
    padding: 0px 20px;
    height: 94vh;
    margin-top: 3%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; 
    -webkit-animation: fadein 1s; 
    -o-animation: fadein 1s; 
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(/assets/images/PL-aguero.jpg);
    background-size: cover;
}
@keyframes fadein {
    from {
        opacity:0;
        transform: translate(0, -10%)
    }
    to {
        opacity:1;
        transform: translate(0, 0%)
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
        transform: translate(0, -10%)
    }
    to {
        opacity:1;
        transform: translate(0, 0%)
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
        transform: translate(0, -10%)
    }
    to {
        opacity:1;
        transform: translate(0, 0%)
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
        transform: translate(0, -10px)
    }
    to {
        opacity:1;
        transform: translate(0, 0px)
    }
}


.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-top: 70px;
}
.top-header-text {
    color: white;
    font-size: 50px;
    margin-left: 50px;
    font-weight: bolder;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Satisfy', cursive;
}
.top-header-right > input {
    width: 300px;
    margin: 4px;
    padding: 8px;
    border: 1px solid #04f5ff;
    background-color: transparent;
    color: white;
    font-size: 16px;
}
.top-header-right > input:focus, .top-header-right > input:active {
    outline: none;
}
.top-header-right button {
    margin: 4px;
    padding: 8px;
    background-color: #222;
    font-size: 16px;
    transition: 0.2s ease;
}
.top-header-right-search {
    color: #04f5ff;
    border: 1px solid #04f5ff;
}
.top-header-right-reset {
    color: #f00;
    border: 1px solid #f00;
}
.top-header-right-search:hover, .top-header-right-reset:hover {
    color: white;
    cursor: pointer;
}


.main-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-center-center {
    border: 1px solid #f00;
    height: 400px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 1200px;
    position: relative;
}
.main-center-center-row {
    display: flex;
    justify-content: space-around;
    margin: 12px;
    transition: 0.3s ease;
    height: 80px;
}
.main-center-center-row:hover {
    transform: scale(1.1);
    border: 1px solid #62ffa7;
    cursor: pointer;
}
.main-center-center-row-left, .main-center-center-row-right, .main-center-center-row-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-center-center-row-left, .main-center-center-row-right {
    width: 300px;
}
.main-center-center-row-center {
    width: 100px;
}
.main-center-center-row-clubName {
    font-weight: 600;
    color: white;
    text-shadow: 1.5px 0px #62ffa7;
    font-size: 18px;
}
.main-center-center-row-clubScore {
    font-weight: 600;
    color: #04f5ff;
    font-size: 30px;
}
.main-center-center-row-center-date {
    color: white;
}
.main-center-center-row-center-vs {
    color: #555;
    font-size: 40px;
    font-weight: 900;
}