<div class="container">
    <div class="top-header">
        <img src="assets/images/PL-LionText-transparent.png" />
    </div>

    <div class="main-center">
        <div class="main-center-left">
            <h3 class="main-center-left-clubName">{{ footballMatch.firstTeam.clubName.toLocaleUpperCase() }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.goals }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.shots }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.shotsOnTarget }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.possession }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.passes }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.passAccuracy }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.fouls }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.yellowCards }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.redCards }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.offsides }}</h3>
            <h3>{{ footballMatch.firstTeamSingleMatchStats.corners }}</h3>
        </div>
        <div class="main-center-center">
            <h3>TEAM STATS</h3>
            <h3>Goals</h3>
            <h3>Shots</h3>
            <h3>Shots on target</h3>
            <h3>Possession</h3>
            <h3>Passes</h3>
            <h3>Pass accuracy</h3>
            <h3>Fouls</h3>
            <h3>Yellow cards</h3>
            <h3>Red cards</h3>
            <h3>Offsides</h3>
            <h3>Corners</h3>
        </div>
        <div class="main-center-right">
            <h3 class="main-center-right-clubName">{{ footballMatch.secondTeam.clubName.toLocaleUpperCase() }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.goals }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.shots }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.shotsOnTarget }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.possession }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.passes }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.passAccuracy }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.fouls }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.yellowCards }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.redCards }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.offsides }}</h3>
            <h3>{{ footballMatch.secondTeamSingleMatchStats.corners }}</h3>
        </div>
    </div>

    <div class="bottom-footer">
        <h3 class="bottom-footer-text">{{ footerMsg }}</h3>
    </div>
</div>