<div class="container">
    <div class="top-header">
        <img src="assets/images/PL-LionText-transparent.png" />
    </div>

    <div class="main-center">
        <div class="main-center-left">
            <h3 class="main-center-left-clubName">{{ getSelectedMatch().firstTeam.clubName.toLocaleUpperCase() }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.goals }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.shots }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.shotsOnTarget }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.possession }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.passes }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.passAccuracy }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.fouls }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.yellowCards }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.redCards }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.offsides }}</h3>
            <h3>{{ getSelectedMatch().firstTeamSingleMatchStats.corners }}</h3>
        </div>
        <div class="main-center-center">
            <h3>TEAM STATS</h3>
            <h3>Goals</h3>
            <h3>Shots</h3>
            <h3>Shots on target</h3>
            <h3>Possession</h3>
            <h3>Passes</h3>
            <h3>Pass accuracy</h3>
            <h3>Fouls</h3>
            <h3>Yellow cards</h3>
            <h3>Red cards</h3>
            <h3>Offsides</h3>
            <h3>Corners</h3>
        </div>
        <div class="main-center-right">
            <h3 class="main-center-right-clubName">{{ getSelectedMatch().secondTeam.clubName.toLocaleUpperCase() }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.goals }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.shots }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.shotsOnTarget }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.possession }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.passes }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.passAccuracy }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.fouls }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.yellowCards }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.redCards }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.offsides }}</h3>
            <h3>{{ getSelectedMatch().secondTeamSingleMatchStats.corners }}</h3>
        </div>
    </div>

    <div class="bottom-footer">
        <h3 class="bottom-footer-text">{{ getFooterMsg() }}</h3>
    </div>
</div>