.topnav {
    background-color: #222;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s ease;
}

.topnav a:hover {
    color: black;
    color: #62ffa4;
}

.topnav a.active {
    color: #62ffa4;
    font-weight: bolder;
}

.topnav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding-right: 16px;
}

.topnav img {
    height: 50px;
    object-fit: contain;
}