.topnav {
    background-color: #222;
    overflow: hidden;
    position: sticky;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s ease;
}

.topnav a:hover {
    color: black;
    color: #62ffa4;
}

.topnav a.active {
    color: #62ffa4;
    font-weight: bolder;
}

.topnav .icon {
    display: none;
}