@(someParam: String)(secondParam: String)
<!--accepts two parameters (since we did pass two in TestController)-->

<!--at main calls the main html file (the file that is used to render everything-->
<!--main accepts a parameter for the title-->
<!--just like how react is, we render all components into a index.js file, which renders itself into the-->
<!--template index.html file-->
@main("Hello") {
    <h1>Hello from test class</h1>
    <h1>@someParam</h1>
    <h1>@secondParam</h1>
}
<!--effectively we are passing two parameters to main as well (it accepts two) but here we are coding-->
<!--the parameters here itself through html-->
